body {
    margin: 0;
    background-color: #333536;
}

table {
    width: 100%;
    height: 70%;
    table-layout: fixed;
}

.tbl-header {
    background-color: rgba(255, 255, 255, 0.3);
}

.tbl-content {
    height: 300px;
    overflow-x: auto;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

th {
    padding: 20px 15px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

td {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}


body {
    background: -webkit-linear-gradient(left, #333536, #333344);
    background: linear-gradient(to right, #333536, #333344);
    font-family: 'Roboto', sans-serif;
}

section {
    margin: 50px;
}

h1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}


.menubar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333344;
    position: fixed;
    top: 0;
    width: 100%;
}

.item {
    float: left;
}

.item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.item:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

